<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfVna9VDTPem9i0mjBchbo6S4KyDDNnWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>173532649891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.machineTestLilac</string>
	<key>PROJECT_ID</key>
	<string>machinetestlilac-ae64a</string>
	<key>STORAGE_BUCKET</key>
	<string>machinetestlilac-ae64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173532649891:ios:09bb8ba057d9c0fa716216</string>
</dict>
</plist>